* {
    font-family: Arial;
    font-size: 14px;
    color: #5a5a5a;
}

.text-new {
font-family: 'Merriweather', serif;
font-size: 15px;
}
.hover-fill:hover path {
 fill: white; 
}
#chuong:focus + #chuong-1 {
    display: block;
    opacity: 1;
    transform: scale(1);

}
@keyframes bottom-up {
    0% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .group:hover .group-hover\:animate-bottom-up {
    animation: bottom-up 0.2s ease-in-out;
  }
 .before::before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: "";
  background: #ababab;
  position: absolute;
  top: 8px;
  left: -15px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #818080 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #646262;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  .header-sticky {
    position: sticky;
    top: 0;
    
  }
  